.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.form{
    margin: 10px 0px;
    /* border: 1px solid black ; */
    padding: 3px 5px;
    display: inline-block;
    border-radius: 5px;
    background-color: white;
}
body{
    background-color: wheat;
}
input{
    border: none;
    margin-left: 5px;
    border-left: 1px solid black;
    padding: 5px;
    padding-left: 10px;
}
select{
    border: none;
    
}

p{
    font-size: 12px;
    margin: 4px 6px;
}
